<h3 class="text-center mt-5">プロフィール編集</h3>

<div class="container mt-3">
  <div class="row offset-4">
    <%= form_with model: @customer do |f| %>
    
    <div class="col text-center">
      <label for="inputName">Name</label>
      <p><%= f.text_field :customer_name, autofocus: true, id:"inputName", placeholder:"名前"%></p>
      
      <label for="inputName">Introduction</label>
      <p><%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", placeholder:"自己紹介"%></p>

      <label for="inputImage">ProfileImage</label>
      <p><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></p><br>

      <p><%= f.submit "変更を保存", class: "btn btn-outline-success" %></p>
    </div>
  </div>
    <div class="col text-center mt-3 mb-5">
      <%= link_to '退会する', customers_is_deleted_path, class: "btn btn-danger btn-sm" %>
    <% end %>
    </div>
</div>