<div class="row">
  <div class="col">
    <% if current_customer.email != 'guest@example.com' && current_customer != recipe.customer %>
      <p>
        <% if recipe.favorited_by?(current_customer) %>
          <%= link_to recipe_favorites_path(recipe), method: :delete do %>
            ♥<%= recipe.favorites.count %>
            <p>いいね</p>
          <% end %>
        <% else %>
          <%= link_to recipe_favorites_path(recipe), method: :post do %>
            ♡<%= recipe.favorites.count %>
            <p>いいね</p>
          <% end %>
        <% end %>
      </p>
    <% else %>
      ♡<%= recipe.favorites.count %>
      <p>いいね</p>
    <%end%>
  </div>
</div>