<h3 class="text-center mt-5">レシピ編集</h3>
  <div class="container mt-3 center-block pl-5">
    <div class="row offset-4 text-center">
        <%= form_with model: @recipe do |f| %>
          <div class="form-group">
            <label for="inputName">Title</label>
            <p><%= f.text_field :title, autofocus: true, id:"inputName", placeholder:"メニュー名", class: "form-control"%></p>
            <label for="inputName">Detail</label>
            <p><%= f.text_area :detail, autofocus: true, id:"inputDetail", placeholder:"レシピ詳細", class: "form-control"%></p>
            <label for="inputImage">Image</label>
            <p><%= f.file_field :image, accept: "image/*" %></p>
          </div><br>
            <p class="mt-"><%= f.submit '保存', class: "btn btn-primary" %></p>
          <% end %>
    </div>
  </div>
