<% @recipes.each do |recipe| %>
  <div>
    <p><%= recipe.title %></p>
    <p>投稿ユーザー画像：<%= image_tag recipe.get_image(100,100) %></p>
    <p><%= link_to 'レシピ詳細', recipe_path(recipe.id) %></p>
    <p>ユーザーネーム：<%= recipe.customer.customer_name %></p>
    <p>プロフィール：<%= image_tag recipe.customer.get_profile_image(100,100) %></p>
  </div>
<% end %>
