<div class="container">
  <div class="row text-center">
    <div class="col">
      <div class="row mt-5">
        <div class="col">
          <%= image_tag @recipe.get_image(400,300) %>
        </div>
          <div class="col mt-5 text-left">
            <p>タイトル：<%= @recipe.title %></p>
            <p>レシピ詳細：<%= @recipe.detail %></p>
              <div class="row mt-5">
              <div class="col text-right">
                <p><%= image_tag @recipe.customer.get_profile_image(50,50) %>
              </div>
              <div class="col text-left">
                <p>Name：<%= @recipe.customer.customer_name %></p>
                <p>投稿日：<%= @recipe.created_at.strftime('%Y/%m/%d') %></p>
              </div>
            </div>
          </div>

            <div class="row text-center offset-2">
              <div class="col-5 mt-5">
                <%= render 'public/comments/comment', recipe: @recipe, recipe_comment: @recipe_comment %>
              </div>
              <div class="col-2 mt-5"><br>
                <%= render 'public/favorites/iine', recipe: @recipe %>
              </div>
              <div class="col-2 mt-5 text-left"><br>
                <%= render "public/relationships/follow", customer: @customer %>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>