<% if customer_signed_in? %>
  <div class="form-inline">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <div class="d-flex">
        <div class="mr-2">
          <%= f.text_field :word %><br>
          <%= f.select :range, options_for_select([['Customer'], ['Recipe']]) %>
          <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
        </div>
        <div class="align-self-center">
          <%= f.submit "検索", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>