<h2 class="text-center mt-3">Results index</h2>

<table class="table table-hover table-inverse mt-5 mb-5">
  <!--検索対象モデルがCustomerの時 -->
  <% if @range == "Customer" %>
  <thead>
    <tr class="text-center">
      <th>Image</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr class="text-center">
          <td><%= image_tag customer.get_profile_image(50,50) %></td>
          <td><%= customer.customer_name %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがCustomerではない時(= 検索対象モデルがBookの時) -->
  <thead>
    <tr class="text-center">
      <th width="30%">Image</th>
      <th width="20%">Name</th>
      <th width="20%">Recipe</th>
      <th width="30%">Detail</th>
    </tr>
  </thead>
    <tbody class="text-center">
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= image_tag recipe.get_image(200,150) %></td>
          <td><br><br><%= recipe.customer.customer_name %></td>
          <td><br><br><%= recipe.title %></td>
          <td class="recipe_detail"><br><br><%= link_to 'レシピ詳細', recipes_Detail_path %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
