<div class="row">
  <div class="col">
    <% if customer_signed_in? %>
      <% if recipe.favorited_by?(current_customer) %>
        <% if current_customer == recipe.customer %>
          ♡<%= recipe.favorites.count %>
          <p>いいね</p>
        <% else %>
          <p>
            <%= link_to recipe_favorites_path(recipe), method: :delete do %>
              ♥<%= recipe.favorites.count %>
              <p>いいね</p>
            <% end %>
          </p>
        <% end %>
      <% else %>
        <% if current_customer != recipe.customer %>
          <p>
            <%= link_to recipe_favorites_path(recipe), method: :post do %>
              ♡<%= recipe.favorites.count %>
              <p>いいね</p>
            <% end %>
          </p>
        <% else %>
          ♡<%= recipe.favorites.count %>
          <p>いいね</p>
        <% end %>
      <% end %>
    <% else %>
      ♡<%= recipe.favorites.count %>
      <p>いいね</p>
    <%end%>
  </div>
</div>